/* 
    Created on : 2014/03/12, 9:26:18
    Author     : paul
*/
table, th, td {
	border: solid 1px black;
}
/* スキルシミュレーションテーブル */
.skillplanner{
	margin-left: 46px;
}
.skillplanner #tspointmarkbox{
	margin-left: 46px;
}
.skillplanner table{
	border: none;
	margin-left: 46px;
}
.skillplanner .overlimit{
	/* スキルポイント消費可能限界突破 */
	background-color: #ff9999;
}
.skillplanner .empty{
	/* 空セル */
	border: none;
}
.skillplanner .connector{
	/* スキル接続罫線セル */
	border: none;
}
.skillplanner th.treecaption {
	/* スキルツリー表題セル */
	border: none;
}
.skillplanner td.level0 {
	/* レベル0スキル */
	background-color: #cccccc;
}
.skillplanner .levelbox {
	/* レベル選択部分 */
	/* スキルアイコン幅だけマージンを取る*/
	margin-left:34px;
	/* 途中改行しない*/
	white-space: nowrap;
}
.skillplanner select{
	/* レベル選択ボックス */
	min-width: 50px;
}
.skillplanner .markbox {
	/*スキルアイコン幅だけマージンを取る*/
	margin-left:34px;
}
.skillplanner .mark{
	/* 消費スキルポイントマーク */
	font-family: monospace;
}
.skillplanner img.skillicon{
	/* スキルアイコン画像 */
	vertical-align: middle;
	margin: 1px;
}

#powerTip {
	opacity: 0.95;
}
#powerTip table{
	border: none;
	border-collapse:collapse;
	text-align: center;
}

.skilltip {
	clear: both;
}

ul#topmenu{
	display: block;
}
ul#topmenu li {
	list-style-type: none;
	display: inline;
}
ul#topmenu a {
	/* border: 1px black solid;*/
	padding: 0 1em;
}

#skillslot {
	float:left;
	background-color: #ffffcc;
	border: #663300 ridge medium;
	width: 34px;
	height: 260px;
	margin: 0 2px;
	position: fixed;
}
